@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF-Pro-Display";
  src: url("./assets/fonts/SF-Pro-Display-Thin-100.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("./assets/fonts/SF-Pro-Display-Light-300.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("./assets/fonts/SF-Pro-Display-Regular-400.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("./assets/fonts/SF-Pro-Display-Medium-500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("./assets/fonts/SF-Pro-Display-Semibold-600.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("./assets/fonts/SF-Pro-Display-Bold-700.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("./assets/fonts/SSF-Pro-Display-Heavy-800.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("./assets/fonts/SF-Pro-Display-Black-900.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Druk-Wide-Bold";
  src: url("./assets/fonts/Druk-Wide-Bold.ttf") format("truetype");
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF-Pro-Display", sans-serif;
}

/* src/assets/styles.css 或 src/index.css (根據你項目的結構) */

.custom-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: #ff0000;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: red;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.custom-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #ffffff;
}
